<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<inside-head
	th:replace="fragments/general.html :: head(title='List courses')" />
<link th:href="@{/css/profile.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="fragments/general.html :: header" />

	<section id="content-section">
		<aside th:replace="fragments/general.html :: aside" />
		<article id="article">
			<div id="heading">
				<h1>List courses</h1>
			</div>
			<div sec:authorize="hasRole('STUDENT')" class="container"
				id="profile-container">
				<div class="head">Registered courses</div>
				<div class="content">
					<table id="table-content" 
						th:if="${studentCourses != null && studentCourses.size() > 0}">
						<tr>
							<th>Title</th>
							<th>Credits</th>
							<th>Action</th>
						</tr>

						<tr th:each="scourse : ${studentCourses}">
							<td th:text="${scourse.name}" />
							<td th:text="${scourse.credits}" />
							<td>
								<form action="#" th:action="@{/student/leave-course}"
									method="post">
									<input type="hidden" name="id" th:value="${scourse.id}" /> 
									<input type="submit" class="input profile-btn" value="Leave"
									style="margin: 0;padding: 5px" />
								</form>
							</td>
						</tr>

					</table>
					<p id="empty-caption" th:unless="${studentCourses != null 
						&& studentCourses.size() > 0}">(0 course)</p>
				</div>
			</div>
			<div class="container" id="profile-container">
				<div class="head">List</div>
				<div class="content">
					<table id="table-content">
						<tr>
							<th>Title</th>
							<th>Credits</th>
							<th>Action</th>
						</tr>

						<tr th:each="course : ${courses}">
							<td th:text="${course.name}" />
							<td th:text="${course.credits}" />
							<td>
								<div sec:authorize="hasRole('ADMIN')"
									th:replace="fragments/action.html :: adminAction(id=${course.id})" />
								<div sec:authorize="hasRole('STUDENT')"
									th:replace="fragments/action.html :: studentAction(id=${course.id})" />
							</td>
						</tr>

					</table>
				</div>
			</div>
		</article>

	</section>
<script defer="defer" th:src="@{/js/app.js}"></script></body>
</html>